{
  "openapi": "3.0.0",
  "servers": [
    {
      "url": "https://api.kraken.com/0",
      "description": "Production Server"
    }
  ],
  "info": {
    "title": "REST API",
    "contact": {
      "name": "Support",
      "url": "https://support.kraken.com/hc/en-us/requests/new?ticket_form_id=360000104043"
    },
    "version": "1.0.0",
    "x-logo": {
      "url": "kraken_logo_w.png",
      "altText": "Kraken Logo"
    },
    "description": "# General Usage\n\nThis document details use of Kraken's REST API for our spot exchange. The [Websockets API](https://docs.kraken.com/websockets) and [Kraken Futures API](https://support.kraken.com/hc/en-us/sections/360012894412-Futures-API) are documented separately. Our REST API is organised into publicly accessible endpoints (market data, exchange status, etc.), and private authenticated endpoints (trading, funding, user data) which require requests to be signed.\n\n## Support \n\nFurther information and FAQs may be found on the [API section](https://support.kraken.com/hc/en-us/categories/360000080686-API) of our support pages. If you have trouble making any standard requests that our system permits, please [send us](https://support.kraken.com/hc/en-us/requests/new?ticket_form_id=360000104043) a full copy of the request(s) that you're attempting, including your IP address and all headers, so that we may investigate further.\n\n## Requests, Responses and Errors\n\n### Requests\nRequest payloads are [form-encoded](https://developer.mozilla.org/en-US/docs/Web/HTTP/Methods/POST) (`Content-Type: application/x-www-form-urlencoded`), and all requests must specify a `User-Agent` in their headers.\n\n### Responses\nResponses are JSON encoded and contain one or two top-level keys (`result` and `error` for successful requests or those with warnings, or only `error` for failed or rejected requests)\n\n#### Example Successful Response\n```javascript\n{\n  \"error\": [],\n  \"result\": {\n    \"status\": \"online\",\n    \"timestamp\": \"2021-03-22T17:18:03Z\"\n  }\n}\n```\n> GET https://api.kraken.com/0/public/SystemStatus\n\n#### Example Rejection\n```javascript\n{\n  \"error\": [\n    \"EGeneral:Invalid arguments:ordertype\"\n  ]\n}\n```\n\n### Error Details\n\nHTTP status codes are generally not used by our API to convey information about the state of requests -- any errors or warnings are denoted in the `error` field of the response as described above. Status codes __other__ than 200 indicate that there was an issue with the request reaching our servers.\n\n`error` messages follow the general format `<severity><category>`:`<error msg>`[`:add'l text`]\n\n* `severity` can be either `E` for error or `W` for warning\n* `category` can be one of `General`, `Auth`, `API`, `Query`, `Order`, `Trade`, `Funding`, or `Service`\n* `error msg` can be any text string that describes the reason for the error\n\n#### Some Common Examples\n\n| Error | Additional Info |\n| -- | -- |\n| EGeneral:Invalid arguments | The request payload is malformed, incorrect or ambiguous. |\n| EService:Unavailable | The matching engine or API is offline |\n| EService:Market in cancel_only mode | Request can't be made at this time. (See `SystemStatus` endpoint.) |\n| EService:Market in post_only mode | Request can't be made at this time. (See `SystemStatus` endpoint.) |    \n| EAPI:Invalid key | An invalid `API-Key` header was supplied (see Authentication section) |\n| EAPI:Invalid signature | An invalid `API-Sign` header was supplied (see Authentication section) |\n| EAPI:Invalid nonce | An invalid `nonce` was supplied (see Authentication section) |\n| EGeneral:Permission denied | API key doesn't have permission to make this request. |    \n| EOrder:Cannot open position | User/tier is ineligible for margin trading |\n| EOrder:Margin allowance exceeded | User has exceeded their margin allowance |\n| EOrder:Margin level too low | Client has insufficient equity or collateral |\n| EOrder:Margin position size exceeded | Client would exceed the maximum position size for this pair |\n| EOrder:Insufficient margin | Exchange does not have available funds for this margin trade |\n| EOrder:Insufficient funds | Client does not have the necessary funds |\n| EOrder:Order minimum not met | Order size does not meet `ordermin`. (See `AssetPairs` endpoint.)  |\n| EOrder:Orders limit exceeded | (See Rate Limits section) |\n| EOrder:Rate limit exceeded | (See Rate Limits section) |\n| EOrder:Positions limit exceeded |  |\n| EOrder:Unknown position |  |\n\nAdditional information can be found on our [support center](https://support.kraken.com/hc/en-us/articles/360001491786-API-error-messages).\n\n\n\n# Authentication\n\nAuthenticated requests must include both `API-Key` and `API-Sign` HTTP headers, and `nonce` in the request payload. `otp` is also required in the payload if two-factor authentication (2FA) is enabled.\n\n\n## Nonce and 2FA\n\n### `nonce`\n\nNonce must be an always increasing, unsigned 64-bit integer, for each request that is made with a particular API key. While a simple counter would provide a valid nonce, a more usual method of generating a valid nonce is to use e.g. a UNIX timestamp in milliseconds.\n\n> **Note:** There is no way to reset the nonce for an API key to a lower value, so be sure to use a nonce generation method that won't produce numbers less than the previous nonce. Too many requests with invalid nonces (EAPI:Invalid nonce) can result in temporary bans. Problems can arise from requests arriving out of order due to API keys being shared across processes, or from system clock drift/recalibration. An optional \"nonce window\" can be configured to specify a tolerance between nonce values. Additional info can be found in our [support pages](https://support.kraken.com/hc/en-us/articles/360000906023-What-is-a-nonce-).\n\n### `otp`\n\nIf two-factor authentication (2FA) is enabled for the API key and action in question, the one time password must be specified in the payload's `otp` value.\n\n\n## Headers and Signature\n\n<SecurityDefinitions />\n\n# Rate Limits\n\nWe have various safeguards in place to protect against system abuse, order book manipulation, DDoS attacks, etc. For REST API requests, these are broadly organised into rate limits specific to the REST API, and rate limits which apply to any trading requests.\n\n> __Note:__ For clients with performance sensitive applications, we strongly recommend the use of our Websockets API for minimising request latency and receiving real-time information, reducing or eliminating the need to frequently poll REST endpoints.\n\n## REST API Rate Limits\n\n### Limits\n\nEvery REST API user has a \"call counter\" which starts at `0`. Ledger/trade history calls increase the counter by `2`. All other API calls increase this counter by `1` (except AddOrder, CancelOrder which operate on a different limiter detailed further below).\n\n| Tier         | Max API Counter | API Counter Decay |\n| ------------ | --------------- | ----------------- |\n| Starter      | 15              | -0.33/sec         |\n| Intermediate | 20              | -0.5/sec          |\n| Pro          | 20              | -1/sec            |\n\nThe user's counter is reduced every couple of seconds depending on their verification tier. Each API key's counter is separate, and if the counter exceeds the maximum value, subsequent calls using that API key would be rate limited. If the rate limits are reached, additional calls will be restricted for a few seconds (or possibly longer if calls continue to be made while the rate limits are active).\n\n### Errors\n\n* \"EAPI:Rate limit exceeded\" if the REST API counter exceeds the user's maximum.\n* \"EService: Throttled: [UNIX timestamp]\" if there are too many concurrent requests. Try again after [timestamp].\n\nAdditional information can be found on our [support center](https://support.kraken.com/hc/en-us/articles/206548367-What-are-the-API-rate-limits-).\n\n## Matching Engine Rate Limits\n\n### Limits\n\nSeparate limits apply to the number of orders clients may have open in each pair at a time, and the speed with which they may add and cancel orders in each pair. These limits vary by the account verification tier: \n\n| Tier      | Max Num Orders | Max Ratecount | Ratecount Decay |\n| ----------- | ----------- | ----------- | ----------- |\n| Starter      | 60       | 60 | -1/sec |\n| Intermediate   | 80 | 125 | -2.34/sec |\n| Pro     | 225 | 180 | -3.75/sec |\n\n### Penalties\n\nThe speed is controlled by a ratecounter for each (client, pair) which starts at zero, is incremented when penalties are applied, and decremented according to the decay rates above. A penalty is added to the ratecounter for each new order placed (`AddOrder`) or cancelled (`CancelOrder`, `CancelAll`, `CancelAllOrdersAfter`) on the pair. The cancellation penalty varies according to the lifetime of the order.\n\n| Action       |    | <5sec  | <10sec | <15sec | <45sec | <90sec | <300s | >300s |\n| ------------ | -- | -- | -- | -- | -- | -- | -- | -- |\n| Add Order    | +1 |    |    |    |    |    |    |    |\n| Cancel Order |    | +8 | +6 | +5 | +4 | +2 | +1 | 0 |\n\n> __Note:__ A client's exact ratecounter values can be monitored via the Websockets [openOrders](https://docs.kraken.com/websockets/#message-openOrders) feed.\n\n### Errors\n\n* \"EOrder:Orders limit exceeded\" if the number of open orders in a given pair is exceeded\n* \"EOrder:Rate limit exceeded\" if the user's max ratecount is exceeded for a given pair\n\nAdditional information can be found on our [support center](https://support.kraken.com/hc/en-us/articles/360045239571).\n\n# Changelog\n\n* Sep 2021 - Add REST `AddOrder` support for optional parameter `timeinforce` and value `ioc` (Immediate-or-cancel)\n* July 2021 - Allow querying of `WithdrawStatus` with read-only API key permission \"Query Ledgers\".\n\n**Note:** Most changes affecting our APIs or trading engine behaviour are currently being tracked on our [Websockets](https://docs.kraken.com/websockets/#changelog) changelog, until these documents are combined.\n\n# Example API Clients\n\nIn order to achieve maximum performance, security and flexibility for your particular needs, we strongly encourage the implementation of this API with your own code, and to minimise reliance on third party software.\n\nThat being said, in order to aid with rapid development and prototyping, we're in the process of producing 'official' API clients in Python and Golang that will be actively maintained, coincident with the release of newer versions of both our Websockets and REST APIs. In the meantime, our Client Engagement team has compiled a number of [code snippets, examples and Postman collections](https://support.kraken.com/hc/en-us/sections/360003946512-Example-API-Code) that many find useful. \n\n### Third Party Software\n\nBelow are other third party API client code libraries that may be used when writing your own API client. Please keep in mind that Payward nor the third party authors are responsible for losses due to bugs or improper use of the APIs. Payward has performed an initial review of the safety of the third party code before listing them but cannot vouch for any changes added since then, or for those that may be stale. If you have concerns, please contact support.\n\n| Language      | Link |\n| ----------- | ----------- |\n| C++ | [https://github.com/voidloop/krakenapi](https://github.com/voidloop/krakenapi) |\n| Golang | [https://github.com/Beldur/kraken-go-api-client](https://github.com/Beldur/kraken-go-api-client) |\n| NodeJS | [https://github.com/nothingisdead/npm-kraken-api](https://github.com/nothingisdead/npm-kraken-api) |\n| Python 3 | [https://github.com/veox/python3-krakenex](https://github.com/veox/python3-krakenex)       |\n| Python 2 | [https://github.com/veox/python2-krakenex](https://github.com/veox/python2-krakenex) |\n\nOther \n"
  },
  "paths": {
    "/public/Time": {
      "get": {
        "tags": [
          "Market Data"
        ],
        "summary": "Get Server Time",
        "x-summary": "Test123",
        "description": "Get the server's time.",
        "operationId": "getServerTime",
        "security": [],
        "responses": {
          "200": {
            "description": "Success response",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Success response",
                  "type": "object",
                  "properties": {
                    "result": {
                      "title": "ServerTime",
                      "type": "object",
                      "properties": {
                        "unixtime": {
                          "description": "Unix timestamp",
                          "type": "integer"
                        },
                        "rfc1123": {
                          "description": "RFC 1123 time format",
                          "type": "string"
                        }
                      }
                    },
                    "error": {
                      "$ref": "#/paths/~1private~1Stake/post/responses/200/content/application~1json/schema/properties/error"
                    }
                  }
                },
                "example": {
                  "error": [],
                  "result": {
                    "unixtime": 1616336594,
                    "rfc1123": "Sun, 21 Mar 21 14:23:14 +0000"
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "Shell",
            "label": "cURL",
            "source": "curl \"https://api.kraken.com/0/public/Time\""
          },
          {
            "lang": "Python",
            "source": "import requests\n\nresp = requests.get('https://api.kraken.com/0/public/Time')\n\nprint(resp.json())\n"
          }
        ]
      }
    },
    "/public/SystemStatus": {
      "get": {
        "tags": [
          "Market Data"
        ],
        "summary": "Get System Status",
        "description": "Get the current system status or trading mode. \n",
        "operationId": "getSystemStatus",
        "security": [],
        "responses": {
          "200": {
            "description": "Success response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "properties": {
                        "status": {
                          "type": "string",
                          "enum": [
                            "online",
                            "maintenance",
                            "cancel_only",
                            "post_only"
                          ],
                          "description": "Current system status\n\n* `online`  Kraken is operating normally. All order types may be submitted and trades can occur.\n* `maintenance`  The exchange is offline. No new orders or cancellations may be submitted.\n* `cancel_only`  Resting (open) orders can be cancelled but no new orders may be submitted. No trades will occur.\n* `post_only`  Only post-only limit orders can be submitted. Existing orders may still be cancelled. No trades will occur.\n"
                        },
                        "timestamp": {
                          "type": "string",
                          "description": "Current timestamp (RFC3339)"
                        }
                      }
                    },
                    "error": {
                      "$ref": "#/paths/~1private~1Stake/post/responses/200/content/application~1json/schema/properties/error"
                    }
                  }
                },
                "example": {
                  "error": [],
                  "result": {
                    "status": "online",
                    "timestamp": "2021-03-21T15:33:02Z"
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "cURL",
            "source": "curl \"https://api.kraken.com/0/public/SystemStatus\""
          },
          {
            "lang": "Python",
            "source": "import requests\n\nresp = requests.get('https://api.kraken.com/0/public/SystemStatus')\n\nprint(resp.json())\n"
          }
        ]
      }
    },
    "/public/Assets": {
      "get": {
        "tags": [
          "Market Data"
        ],
        "summary": "Get Asset Info",
        "description": "Get information about the assets that are available for deposit, withdrawal, trading and staking.",
        "operationId": "getAssetInfo",
        "security": [],
        "parameters": [
          {
            "in": "query",
            "name": "asset",
            "schema": {
              "type": "string"
            },
            "description": "Comma delimited list of assets to get info on.",
            "example": "XBT,ETH"
          },
          {
            "in": "query",
            "name": "aclass",
            "schema": {
              "type": "string"
            },
            "description": "Asset class.  (optional, default: `currency`)",
            "example": "currency"
          }
        ],
        "responses": {
          "200": {
            "description": "Asset info retrieved.",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "error": [],
                    "result": {
                      "XXBT": {
                        "aclass": "currency",
                        "altname": "XBT",
                        "decimals": 10,
                        "display_decimals": 5
                      },
                      "ZEUR": {
                        "aclass": "currency",
                        "altname": "EUR",
                        "decimals": 4,
                        "display_decimals": 2
                      },
                      "ZUSD": {
                        "aclass": "currency",
                        "altname": "USD",
                        "decimals": 4,
                        "display_decimals": 2
                      }
                    }
                  },
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "additionalProperties": {
                        "x-additionalPropertiesName": "asset",
                        "title": "AssetInfo",
                        "description": "Asset Info",
                        "type": "object",
                        "properties": {
                          "aclass": {
                            "description": "Asset Class",
                            "type": "string"
                          },
                          "altname": {
                            "description": "Alternate name",
                            "type": "string"
                          },
                          "decimals": {
                            "description": "Scaling decimal places for record keeping",
                            "type": "integer"
                          },
                          "display_decimals": {
                            "description": "Scaling decimal places for output display",
                            "type": "integer"
                          }
                        }
                      }
                    },
                    "error": {
                      "$ref": "#/paths/~1private~1Stake/post/responses/200/content/application~1json/schema/properties/error"
                    }
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "cURL",
            "source": "curl \"https://api.kraken.com/0/public/Assets\"\n"
          },
          {
            "lang": "Python",
            "source": "import requests\n\nresp = requests.get('https://api.kraken.com/0/public/Assets')\n\nprint(resp.json())\n"
          }
        ]
      }
    },
    "/public/AssetPairs": {
      "get": {
        "tags": [
          "Market Data"
        ],
        "summary": "Get Tradable Asset Pairs",
        "description": "Get tradable asset pairs",
        "operationId": "getTradableAssetPairs",
        "security": [],
        "parameters": [
          {
            "in": "query",
            "name": "pair",
            "description": "Asset pairs to get data for",
            "schema": {
              "type": "string"
            },
            "example": "XXBTCZUSD,XETHXXBT"
          },
          {
            "in": "query",
            "name": "info",
            "schema": {
              "type": "string",
              "enum": [
                "info",
                "leverage",
                "fees",
                "margin"
              ],
              "default": "info"
            },
            "description": "Info to retrieve.  (optional)\n\n  * `info` = all info\n  * `leverage` = leverage info\n  * `fees` = fees schedule\n  * `margin` = margin info\n"
          }
        ],
        "responses": {
          "200": {
            "description": "Tradable asset pairs retrieved.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "description": "Pair names and their info",
                      "type": "object",
                      "additionalProperties": {
                        "title": "AssetPair",
                        "description": "Trading Asset Pair",
                        "type": "object",
                        "x-additionalPropertiesName": "pair",
                        "properties": {
                          "altname": {
                            "description": "Alternate pair name",
                            "type": "string"
                          },
                          "wsname": {
                            "description": "WebSocket pair name (if available)",
                            "type": "string"
                          },
                          "aclass_base": {
                            "description": "Asset class of base component",
                            "type": "string"
                          },
                          "base": {
                            "description": "Asset ID of base component",
                            "type": "string"
                          },
                          "aclass_quote": {
                            "description": "Asset class of quote component",
                            "type": "string"
                          },
                          "quote": {
                            "description": "Asset ID of quote component",
                            "type": "string"
                          },
                          "lot": {
                            "description": "Volume lot size",
                            "type": "string",
                            "deprecated": true
                          },
                          "pair_decimals": {
                            "description": "Scaling decimal places for pair",
                            "type": "integer"
                          },
                          "lot_decimals": {
                            "description": "Scaling decimal places for volume",
                            "type": "integer"
                          },
                          "lot_multiplier": {
                            "description": "Amount to multiply lot volume by to get currency volume",
                            "type": "integer"
                          },
                          "leverage_buy": {
                            "description": "Array of leverage amounts available when buying",
                            "type": "array",
                            "items": {
                              "type": "integer"
                            }
                          },
                          "leverage_sell": {
                            "description": "Array of leverage amounts available when selling",
                            "type": "array",
                            "items": {
                              "type": "integer"
                            }
                          },
                          "fees": {
                            "description": "Fee schedule array in `[<volume>, <percent fee>]` tuples",
                            "type": "array",
                            "items": {
                              "type": "array",
                              "items": {
                                "oneOf": [
                                  {
                                    "type": "integer"
                                  },
                                  {
                                    "type": "number"
                                  }
                                ]
                              }
                            }
                          },
                          "fees_maker": {
                            "description": "Maker fee schedule array in `[<volume>, <percent fee>]`  tuples (if on maker/taker)",
                            "type": "array",
                            "items": {
                              "type": "array",
                              "items": {
                                "oneOf": [
                                  {
                                    "type": "integer"
                                  },
                                  {
                                    "type": "number"
                                  }
                                ]
                              }
                            }
                          },
                          "fee_volume_currency": {
                            "description": "Volume discount currency",
                            "type": "string"
                          },
                          "margin_call": {
                            "description": "Margin call level",
                            "type": "integer"
                          },
                          "margin_stop": {
                            "description": "Stop-out/liquidation margin level",
                            "type": "integer"
                          },
                          "ordermin": {
                            "description": "Minimum order size (in terms of base currency)",
                            "type": "string"
                          }
                        }
                      }
                    },
                    "error": {
                      "$ref": "#/paths/~1private~1Stake/post/responses/200/content/application~1json/schema/properties/error"
                    }
                  },
                  "example": {
                    "error": [],
                    "result": {
                      "XETHXXBT": {
                        "altname": "ETHXBT",
                        "wsname": "ETH/XBT",
                        "aclass_base": "currency",
                        "base": "XETH",
                        "aclass_quote": "currency",
                        "quote": "XXBT",
                        "lot": "unit",
                        "pair_decimals": 5,
                        "lot_decimals": 8,
                        "lot_multiplier": 1,
                        "leverage_buy": [
                          2,
                          3,
                          4,
                          5
                        ],
                        "leverage_sell": [
                          2,
                          3,
                          4,
                          5
                        ],
                        "fees": [
                          [
                            0,
                            0.26
                          ],
                          [
                            50000,
                            0.24
                          ],
                          [
                            100000,
                            0.22
                          ],
                          [
                            250000,
                            0.2
                          ],
                          [
                            500000,
                            0.18
                          ],
                          [
                            1000000,
                            0.16
                          ],
                          [
                            2500000,
                            0.14
                          ],
                          [
                            5000000,
                            0.12
                          ],
                          [
                            10000000,
                            0.1
                          ]
                        ],
                        "fees_maker": [
                          [
                            0,
                            0.16
                          ],
                          [
                            50000,
                            0.14
                          ],
                          [
                            100000,
                            0.12
                          ],
                          [
                            250000,
                            0.1
                          ],
                          [
                            500000,
                            0.08
                          ],
                          [
                            1000000,
                            0.06
                          ],
                          [
                            2500000,
                            0.04
                          ],
                          [
                            5000000,
                            0.02
                          ],
                          [
                            10000000,
                            0
                          ]
                        ],
                        "fee_volume_currency": "ZUSD",
                        "margin_call": 80,
                        "margin_stop": 40,
                        "ordermin": "0.005"
                      },
                      "XXBTZUSD": {
                        "altname": "XBTUSD",
                        "wsname": "XBT/USD",
                        "aclass_base": "currency",
                        "base": "XXBT",
                        "aclass_quote": "currency",
                        "quote": "ZUSD",
                        "lot": "unit",
                        "pair_decimals": 1,
                        "lot_decimals": 8,
                        "lot_multiplier": 1,
                        "leverage_buy": [
                          2,
                          3,
                          4,
                          5
                        ],
                        "leverage_sell": [
                          2,
                          3,
                          4,
                          5
                        ],
                        "fees": [
                          [
                            0,
                            0.26
                          ],
                          [
                            50000,
                            0.24
                          ],
                          [
                            100000,
                            0.22
                          ],
                          [
                            250000,
                            0.2
                          ],
                          [
                            500000,
                            0.18
                          ],
                          [
                            1000000,
                            0.16
                          ],
                          [
                            2500000,
                            0.14
                          ],
                          [
                            5000000,
                            0.12
                          ],
                          [
                            10000000,
                            0.1
                          ]
                        ],
                        "fees_maker": [
                          [
                            0,
                            0.16
                          ],
                          [
                            50000,
                            0.14
                          ],
                          [
                            100000,
                            0.12
                          ],
                          [
                            250000,
                            0.1
                          ],
                          [
                            500000,
                            0.08
                          ],
                          [
                            1000000,
                            0.06
                          ],
                          [
                            2500000,
                            0.04
                          ],
                          [
                            5000000,
                            0.02
                          ],
                          [
                            10000000,
                            0
                          ]
                        ],
                        "fee_volume_currency": "ZUSD",
                        "margin_call": 80,
                        "margin_stop": 40,
                        "ordermin": "0.0002"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "cURL",
            "source": "curl \"https://api.kraken.com/0/public/AssetPairs?pair=XXBTZUSD,XETHXXBT\"\n"
          },
          {
            "lang": "Python",
            "source": "import requests\n\nresp = requests.get('https://api.kraken.com/0/public/AssetPairs?pair=XXBTZUSD,XETHXXBT')\n\nprint(resp.json())\n"
          }
        ]
      }
    },
    "/public/Ticker": {
      "get": {
        "summary": "Get Ticker Information",
        "description": "Note: Today's prices start at midnight UTC",
        "tags": [
          "Market Data"
        ],
        "operationId": "getTickerInformation",
        "security": [],
        "parameters": [
          {
            "$ref": "#/paths/~1public~1OHLC/get/parameters/0"
          }
        ],
        "responses": {
          "200": {
            "description": "Ticker info retrieved.",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "error": [],
                    "result": {
                      "XXBTZUSD": {
                        "a": [
                          "52609.60000",
                          "1",
                          "1.000"
                        ],
                        "b": [
                          "52609.50000",
                          "1",
                          "1.000"
                        ],
                        "c": [
                          "52641.10000",
                          "0.00080000"
                        ],
                        "v": [
                          "1920.83610601",
                          "7954.00219674"
                        ],
                        "p": [
                          "52389.94668",
                          "54022.90683"
                        ],
                        "t": [
                          23329,
                          80463
                        ],
                        "l": [
                          "51513.90000",
                          "51513.90000"
                        ],
                        "h": [
                          "53219.90000",
                          "57200.00000"
                        ],
                        "o": "52280.40000"
                      }
                    }
                  },
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "additionalProperties": {
                        "x-additionalPropertiesName": "pair",
                        "title": "AssetTickerInfo",
                        "description": "Asset Ticker Info",
                        "type": "object",
                        "properties": {
                          "a": {
                            "description": "Ask `[<price>, <whole lot volume>, <lot volume>]`",
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "b": {
                            "description": "Bid `[<price>, <whole lot volume>, <lot volume>]`",
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "c": {
                            "description": "Last trade closed `[<price>, <lot volume>]`",
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "v": {
                            "description": "Volume `[<today>, <last 24 hours>]`",
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "p": {
                            "description": "Volume weighted average price `[<today>, <last 24 hours>]`",
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "t": {
                            "description": "Number of trades `[<today>, <last 24 hours>]`",
                            "type": "array",
                            "items": {
                              "type": "integer"
                            }
                          },
                          "l": {
                            "description": "Low `[<today>, <last 24 hours>]`",
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "h": {
                            "description": "High `[<today>, <last 24 hours>]`",
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "o": {
                            "description": "Today's opening price",
                            "type": "string"
                          }
                        }
                      }
                    },
                    "error": {
                      "$ref": "#/paths/~1private~1Stake/post/responses/200/content/application~1json/schema/properties/error"
                    }
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "cURL",
            "source": "curl \"https://api.kraken.com/0/public/Ticker?pair=XBTUSD\"\n"
          },
          {
            "lang": "Python",
            "source": "import requests\n\nresp = requests.get('https://api.kraken.com/0/public/Ticker?pair=XBTUSD')\n\nprint(resp.json())\n"
          }
        ]
      }
    },
    "/public/OHLC": {
      "get": {
        "summary": "Get OHLC Data",
        "description": "Note: the last entry in the OHLC array is for the current, not-yet-committed frame and will always be present, regardless of the value of `since`.",
        "tags": [
          "Market Data"
        ],
        "operationId": "getOHLCData",
        "security": [],
        "parameters": [
          {
            "in": "query",
            "name": "pair",
            "description": "Asset pair to get data for",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "XBTUSD"
          },
          {
            "name": "interval",
            "description": "Time frame interval in minutes",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1,
              "enum": [
                1,
                5,
                15,
                30,
                60,
                240,
                1440,
                10080,
                21600
              ]
            },
            "example": 60
          },
          {
            "name": "since",
            "in": "query",
            "description": "Return committed OHLC data since given ID",
            "schema": {
              "type": "integer"
            },
            "example": 1548111600
          }
        ],
        "responses": {
          "200": {
            "description": "OHLC data retrieved.",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "error": [],
                    "result": {
                      "XXBTZUSD": [
                        [
                          1616662740,
                          "52591.9",
                          "52599.9",
                          "52591.8",
                          "52599.9",
                          "52599.1",
                          "0.11091626",
                          5
                        ],
                        [
                          1616662800,
                          "52600.0",
                          "52674.9",
                          "52599.9",
                          "52665.2",
                          "52643.3",
                          "2.49035996",
                          30
                        ],
                        [
                          1616662860,
                          "52677.7",
                          "52686.4",
                          "52602.1",
                          "52609.5",
                          "52634.5",
                          "1.25810675",
                          20
                        ],
                        [
                          1616662920,
                          "52603.9",
                          "52627.5",
                          "52601.2",
                          "52616.4",
                          "52614.0",
                          "3.42391799",
                          23
                        ],
                        [
                          1616662980,
                          "52601.2",
                          "52601.2",
                          "52599.9",
                          "52599.9",
                          "52599.9",
                          "0.43748934",
                          7
                        ]
                      ],
                      "last": 1616662920
                    }
                  },
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "additionalProperties": {
                        "x-additionalPropertiesName": "pair",
                        "title": "TickData",
                        "description": "Array of tick data arrays\n`[int <time>, string <open>, string <high>, string <low>, string <close>, string <vwap>, string <volume>, int <count>]`\n",
                        "type": "array",
                        "items": {
                          "type": "array",
                          "items": {
                            "minItems": 8,
                            "maxItems": 8,
                            "oneOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "integer"
                              }
                            ],
                            "example": [
                              1548115200,
                              "3533.4",
                              "3543.7",
                              "3530.7",
                              "3539.4",
                              "3539.8",
                              "83.09287787",
                              232
                            ]
                          }
                        }
                      },
                      "properties": {
                        "last": {
                          "type": "integer",
                          "description": "ID to be used as since when polling for new, committed OHLC data"
                        }
                      }
                    },
                    "error": {
                      "$ref": "#/paths/~1private~1Stake/post/responses/200/content/application~1json/schema/properties/error"
                    }
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "cURL",
            "source": "curl \"https://api.kraken.com/0/public/OHLC?pair=XBTUSD\"\n"
          },
          {
            "lang": "Python",
            "source": "import requests\n\nresp = requests.get('https://api.kraken.com/0/public/OHLC?pair=XBTUSD')\n\nprint(resp.json())\n"
          }
        ]
      }
    },
    "/public/Depth": {
      "get": {
        "summary": "Get Order Book",
        "tags": [
          "Market Data"
        ],
        "operationId": "getOrderBook",
        "security": [],
        "parameters": [
          {
            "$ref": "#/paths/~1public~1OHLC/get/parameters/0"
          },
          {
            "name": "count",
            "description": "maximum number of asks/bids",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 500,
              "default": 100
            },
            "example": 2
          }
        ],
        "responses": {
          "200": {
            "description": "Order book entries retrieved.",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "error": [],
                    "result": {
                      "XXBTZUSD": {
                        "asks": [
                          [
                            "52523.00000",
                            "1.199",
                            1616663113
                          ],
                          [
                            "52536.00000",
                            "0.300",
                            1616663112
                          ]
                        ],
                        "bids": [
                          [
                            "52522.90000",
                            "0.753",
                            1616663112
                          ],
                          [
                            "52522.80000",
                            "0.006",
                            1616663109
                          ]
                        ]
                      }
                    }
                  },
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "additionalProperties": {
                        "x-additionalPropertiesName": "pair",
                        "title": "OrderBook",
                        "description": "Asset Pair Order Book Entries",
                        "type": "object",
                        "properties": {
                          "asks": {
                            "description": "Ask side array of entries `[<price>, <volume>, <timestamp>]`",
                            "type": "array",
                            "items": {
                              "oneOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "integer"
                                }
                              ],
                              "example": [
                                "3539.90000",
                                "0.801",
                                1548119951
                              ]
                            }
                          },
                          "bid": {
                            "description": "Bid side array of entries `[<price>, <volume>, <timestamp>]`",
                            "type": "array",
                            "items": {
                              "oneOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "integer"
                                }
                              ],
                              "example": [
                                "3538.70000",
                                "0.798",
                                1548119924
                              ]
                            }
                          }
                        }
                      }
                    },
                    "error": {
                      "$ref": "#/paths/~1private~1Stake/post/responses/200/content/application~1json/schema/properties/error"
                    }
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "cURL",
            "source": "curl \"https://api.kraken.com/0/public/Depth?pair=XBTUSD\"\n"
          },
          {
            "lang": "Python",
            "source": "import requests\n\nresp = requests.get('https://api.kraken.com/0/public/Depth?pair=XBTUSD')\n\nprint(resp.json())\n"
          }
        ]
      }
    },
    "/public/Trades": {
      "get": {
        "summary": "Get Recent Trades",
        "description": "Returns the last 1000 trades by default",
        "tags": [
          "Market Data"
        ],
        "operationId": "getRecentTrades",
        "security": [],
        "parameters": [
          {
            "$ref": "#/paths/~1public~1OHLC/get/parameters/0"
          },
          {
            "name": "since",
            "in": "query",
            "description": "Return trade data since given timestamp",
            "schema": {
              "type": "string"
            },
            "example": "1616663618"
          }
        ],
        "responses": {
          "200": {
            "description": "Trade data retrieved.",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "error": [],
                    "result": {
                      "XXBTZUSD": [
                        [
                          "52478.90000",
                          "0.00640000",
                          1616663618.0362,
                          "b",
                          "m",
                          ""
                        ],
                        [
                          "52490.50000",
                          "0.01169993",
                          1616663618.0377,
                          "b",
                          "m",
                          ""
                        ],
                        [
                          "52478.80000",
                          "0.04107375",
                          1616663622.1366,
                          "b",
                          "m",
                          ""
                        ]
                      ],
                      "last": "1616663622136576459"
                    }
                  },
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "additionalProperties": {
                        "x-additionalPropertiesName": "pair",
                        "title": "TickData",
                        "description": "Array of trade entries\n`[<price>, <volume>, <time>, <buy/sell>, <market/limit>, <miscellaneous>]`\n",
                        "type": "array",
                        "items": {
                          "oneOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "number"
                            }
                          ],
                          "example": [
                            "3535.40000",
                            "0.09670735",
                            1548111757.2558,
                            "b",
                            "m",
                            ""
                          ]
                        }
                      },
                      "properties": {
                        "last": {
                          "type": "string",
                          "description": "ID to be used as since when polling for new trade data"
                        }
                      }
                    },
                    "error": {
                      "$ref": "#/paths/~1private~1Stake/post/responses/200/content/application~1json/schema/properties/error"
                    }
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "cURL",
            "source": "curl \"https://api.kraken.com/0/public/Trades?pair=XBTUSD\"\n"
          },
          {
            "lang": "Python",
            "source": "import requests\n\nresp = requests.get('https://api.kraken.com/0/public/Trades?pair=XBTUSD')\n\nprint(resp.json())\n"
          }
        ]
      }
    },
    "/public/Spread": {
      "get": {
        "summary": "Get Recent Spreads",
        "tags": [
          "Market Data"
        ],
        "operationId": "getRecentSpreads",
        "security": [],
        "parameters": [
          {
            "$ref": "#/paths/~1public~1OHLC/get/parameters/0"
          },
          {
            "name": "since",
            "in": "query",
            "description": "Return spread data since given ID",
            "schema": {
              "type": "integer"
            },
            "example": 1548122302
          }
        ],
        "responses": {
          "200": {
            "description": "Spread data retrieved.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "additionalProperties": {
                        "x-additionalPropertiesName": "pair",
                        "title": "SpreadData",
                        "description": "Array of spread entries\n`[int <time>, string <bid>, string <ask>]`\n",
                        "type": "array",
                        "items": {
                          "oneOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "integer"
                            }
                          ],
                          "example": [
                            1548120550,
                            "3538.70000",
                            "3541.50000"
                          ]
                        }
                      },
                      "properties": {
                        "last": {
                          "type": "integer",
                          "description": "ID to be used as since when polling for new spread data"
                        }
                      }
                    },
                    "error": {
                      "$ref": "#/paths/~1private~1Stake/post/responses/200/content/application~1json/schema/properties/error"
                    }
                  }
                },
                "example": {
                  "error": [],
                  "result": {
                    "XXBTZUSD": [
                      [
                        1548120550,
                        "3538.70000",
                        "3541.50000"
                      ],
                      [
                        1548120551,
                        "3538.80000",
                        "3541.50000"
                      ],
                      [
                        1548120554,
                        "3538.80000",
                        "3541.40000"
                      ]
                    ],
                    "last": 1548122302
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "cURL",
            "source": "curl \"https://api.kraken.com/0/public/Spread?pair=XBTUSD\"\n"
          },
          {
            "lang": "Python",
            "source": "import requests\n\nresp = requests.get('https://api.kraken.com/0/public/Spread?pair=XBTUSD')\n\nprint(resp.json())\n"
          }
        ]
      }
    },
    "/private/GetWebSocketsToken": {
      "post": {
        "summary": "Get Websockets Token",
        "description": "An authentication token must be requested via this REST API endpoint in order to connect to and authenticate with our [Websockets API](https://docs.kraken.com). The token should be used within 15 minutes of creation, but it does not expire once a successful Websockets connection and private subscription has been made and is maintained.\n\n> The 'Access WebSockets API' permission must be enabled for the API key in order to generate the authentication token.\n",
        "tags": [
          "Websockets Authentication"
        ],
        "operationId": "getWebsocketsToken",
        "requestBody": {
          "$ref": "#/paths/~1private~1Balance/post/requestBody"
        },
        "x-codeSamples": [
          {
            "lang": "cURL",
            "source": "curl -X \"POST\" \"http://api.kraken.com/0/private/GetWebSocketsToken\" \\\n    -H 'API-Key: <YOUR-API-KEY>' \\\n    -H 'API-Sign: <YOUR-MSG-SIGNATURE>' \\\n    -H 'Content-Type: application/x-www-form-urlencoded; charset=utf-8' \\\n    --data-urlencode \"nonce=<YOUR-NONCE>\" \n"
          },
          {
            "lang": "Python",
            "source": "import time\nimport os\nimport requests\n\n# Read Kraken API key and secret stored in environment variables\napi_url = \"https://api.kraken.com\"\napi_key = os.environ['API_KEY_KRAKEN']\napi_sec = os.environ['API_SEC_KRAKEN']\n\n# Attaches auth headers and returns results of a POST request\ndef kraken_request(uri_path, data, api_key, api_sec):\n    headers = {}\n    headers['API-Key'] = api_key\n    # get_kraken_signature() as defined in the 'Authentication' section\n    headers['API-Sign'] = get_kraken_signature(uri_path, data, api_sec)             \n    req = requests.post((api_url + uri_path), headers=headers, data=data)\n    return req\n\nresp = kraken_request('/0/private/GetWebSocketsToken', {\n    \"nonce\": str(int(1000*time.time()))\n}, api_key, api_sec)\n\nprint(resp.json())\n"
          }
        ],
        "responses": {
          "200": {
            "description": "Websockets token retrieved.",
            "content": {
              "application/json": {
                "example": {
                  "error": [],
                  "result": {
                    "token": "1Dwc4lzSwNWOAwkMdqhssNNFhs1ed606d1WcF3XfEMw",
                    "expires": 900
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "properties": {
                        "token": {
                          "description": "Websockets token",
                          "type": "string"
                        },
                        "expires": {
                          "description": "Time (in seconds) after which the token expires",
                          "type": "integer"
                        }
                      }
                    },
                    "error": {
                      "$ref": "#/paths/~1private~1Stake/post/responses/200/content/application~1json/schema/properties/error"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/private/Balance": {
      "post": {
        "summary": "Get Account Balance",
        "description": "Retrieve all cash balances, net of pending withdrawals.\n",
        "tags": [
          "User Data"
        ],
        "operationId": "getAccountBalance",
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "required": [
                  "nonce"
                ],
                "type": "object",
                "properties": {
                  "nonce": {
                    "$ref": "#/paths/~1private~1Stake/post/requestBody/content/application~1x-www-form-urlencoded/schema/properties/nonce"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Account balances retrieved.",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "error": [],
                    "result": {
                      "ZUSD": "171288.6158",
                      "ZEUR": "504861.8946",
                      "ZGBP": "459567.9171",
                      "ZAUD": "500000.0000",
                      "ZCAD": "500000.0000",
                      "CHF": "500000.0000",
                      "XXBT": "1011.1908877900",
                      "XXRP": "100000.00000000",
                      "XLTC": "2000.0000000000",
                      "XETH": "818.5500000000",
                      "XETC": "1000.0000000000",
                      "XREP": "1000.0000000000",
                      "XXMR": "1000.0000000000",
                      "USDT": "500000.00000000",
                      "DASH": "1000.0000000000",
                      "GNO": "1000.0000000000",
                      "EOS": "1000.0000000000",
                      "BCH": "1016.6005000000",
                      "ADA": "100000.00000000",
                      "QTUM": "1000.0000000000",
                      "XTZ": "100000.00000000",
                      "ATOM": "100000.00000000",
                      "SC": "9999.9999999999",
                      "LSK": "1000.0000000000",
                      "WAVES": "1000.0000000000",
                      "ICX": "1000.0000000000",
                      "BAT": "1000.0000000000",
                      "OMG": "1000.0000000000",
                      "LINK": "1000.0000000000",
                      "DAI": "9999.9999999999",
                      "PAXG": "1000.0000000000",
                      "ALGO": "100000.00000000",
                      "USDC": "100000.00000000",
                      "TRX": "100000.00000000",
                      "DOT": "2.5000000000",
                      "OXT": "1000.0000000000",
                      "ETH2.S": "198.3970800000",
                      "ETH2": "2.5885574330",
                      "USD.M": "1213029.2780"
                    }
                  },
                  "type": "object",
                  "properties": {
                    "result": {
                      "title": "AccountBalance",
                      "description": "Account Balance",
                      "type": "object",
                      "additionalProperties": {
                        "x-additionalPropertiesName": "asset",
                        "type": "string",
                        "description": "balance"
                      },
                      "example": {
                        "ZUSD": "2970172.7962",
                        "properties": {
                          "balance": {
                            "description": "Asset Balance",
                            "type": "string",
                            "example": "2970172.7962"
                          }
                        }
                      }
                    },
                    "error": {
                      "$ref": "#/paths/~1private~1Stake/post/responses/200/content/application~1json/schema/properties/error"
                    }
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "cURL",
            "source": "curl -X \"POST\" \"https://api.kraken.com/0/private/Balance\" \\\n     -H 'API-Key: <YOUR-API-KEY>' \\\n     -H 'API-Sign: <YOUR-MSG-SIGNATURE>' \\\n     -H 'Content-Type: application/x-www-form-urlencoded; charset=utf-8' \\\n     --data-urlencode \"nonce=<YOUR-NONCE>\"\n"
          },
          {
            "lang": "Python",
            "source": "import time\nimport os\nimport requests\n\n# Read Kraken API key and secret stored in environment variables\napi_url = \"https://api.kraken.com\"\napi_key = os.environ['API_KEY_KRAKEN']\napi_sec = os.environ['API_SEC_KRAKEN']\n\n# Attaches auth headers and returns results of a POST request\ndef kraken_request(uri_path, data, api_key, api_sec):\n    headers = {}\n    headers['API-Key'] = api_key\n    # get_kraken_signature() as defined in the 'Authentication' section\n    headers['API-Sign'] = get_kraken_signature(uri_path, data, api_sec)             \n    req = requests.post((api_url + uri_path), headers=headers, data=data)\n    return req\n\n# Construct the request and print the result\nresp = kraken_request('/0/private/Balance', {\n    \"nonce\": str(int(1000*time.time()))\n}, api_key, api_sec)\n\nprint(resp.json())        \n"
          }
        ]
      }
    },
    "/private/TradeBalance": {
      "post": {
        "summary": "Get Trade Balance",
        "description": "Retrieve a summary of collateral balances, margin position valuations, equity and margin level.\n",
        "tags": [
          "User Data"
        ],
        "operationId": "getTradeBalance",
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "title": "Update Account Profile Request",
                "description": "Update Account Profile Request Body",
                "required": [
                  "nonce"
                ],
                "type": "object",
                "properties": {
                  "nonce": {
                    "$ref": "#/paths/~1private~1Stake/post/requestBody/content/application~1x-www-form-urlencoded/schema/properties/nonce"
                  },
                  "asset": {
                    "description": "Base asset used to determine balance",
                    "type": "string",
                    "default": "ZUSD"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Trade balances retrieved.",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "error": [],
                    "result": {
                      "eb": "1101.3425",
                      "tb": "392.2264",
                      "m": "7.0354",
                      "n": "-10.0232",
                      "c": "21.1063",
                      "v": "31.1297",
                      "e": "382.2032",
                      "mf": "375.1678",
                      "ml": "5432.57"
                    }
                  },
                  "type": "object",
                  "properties": {
                    "result": {
                      "title": "AccountBalance",
                      "description": "Account Balance",
                      "type": "object",
                      "properties": {
                        "eb": {
                          "description": "Equivalent balance (combined balance of all currencies)",
                          "type": "string",
                          "example": "3224744.0162"
                        },
                        "tb": {
                          "description": "Trade balance (combined balance of all equity currencies)",
                          "type": "string",
                          "example": "3224744.0162"
                        },
                        "m": {
                          "description": "Margin amount of open positions",
                          "type": "string",
                          "example": "0.0000"
                        },
                        "n": {
                          "description": "Unrealized net profit/loss of open positions",
                          "type": "string",
                          "example": "0.0000"
                        },
                        "c": {
                          "description": "Cost basis of open positions",
                          "type": "string",
                          "example": "0.0000"
                        },
                        "v": {
                          "description": "Current floating valuation of open positions",
                          "type": "string",
                          "example": "0.0000"
                        },
                        "e": {
                          "description": "Equity: `trade balance + unrealized net profit/loss`",
                          "type": "string",
                          "example": "3224744.0162"
                        },
                        "mf": {
                          "description": "Free margin: `Equity - initial margin (maximum margin available to open new positions)`",
                          "type": "string",
                          "example": "3224744.0162"
                        },
                        "ml": {
                          "description": "Margin level: `(equity / initial margin) * 100`",
                          "type": "string"
                        }
                      }
                    },
                    "error": {
                      "$ref": "#/paths/~1private~1Stake/post/responses/200/content/application~1json/schema/properties/error"
                    }
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "cURL",
            "source": "curl -X \"POST\" \"https://api.kraken.com/0/private/TradeBalance\" \\\n     -H 'API-Key: <YOUR-API-KEY>' \\\n     -H 'API-Sign: <YOUR-MSG-SIGNATURE>' \\\n     -H 'Content-Type: application/x-www-form-urlencoded; charset=utf-8' \\\n     --data-urlencode \"nonce=<YOUR-NONCE>&asset=ZUSD\"\n"
          },
          {
            "lang": "Python",
            "source": "import time\nimport os\nimport requests\n\n# Read Kraken API key and secret stored in environment variables\napi_url = \"https://api.kraken.com\"\napi_key = os.environ['API_KEY_KRAKEN']\napi_sec = os.environ['API_SEC_KRAKEN']\n\n# Attaches auth headers and returns results of a POST request\ndef kraken_request(uri_path, data, api_key, api_sec):\n    headers = {}\n    headers['API-Key'] = api_key\n    # get_kraken_signature() as defined in the 'Authentication' section\n    headers['API-Sign'] = get_kraken_signature(uri_path, data, api_sec)             \n    req = requests.post((api_url + uri_path), headers=headers, data=data)\n    return req\n\n# Construct the request and print the result\nresp = kraken_request('/0/private/TradeBalance', {\n    \"nonce\": str(int(1000*time.time())),\n    \"asset\": \"USD\"\n}, api_key, api_sec)\n\nprint(resp.json())\n"
          }
        ]
      }
    },
    "/private/OpenOrders": {
      "post": {
        "summary": "Get Open Orders",
        "description": "Retrieve information about currently open orders.\n",
        "tags": [
          "User Data"
        ],
        "operationId": "getOpenOrders",
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "title": "Get Open Orders Request Body",
                "required": [
                  "nonce"
                ],
                "type": "object",
                "properties": {
                  "nonce": {
                    "$ref": "#/paths/~1private~1Stake/post/requestBody/content/application~1x-www-form-urlencoded/schema/properties/nonce"
                  },
                  "trades": {
                    "description": "Whether or not to include trades related to position in output",
                    "type": "boolean",
                    "default": false
                  },
                  "userref": {
                    "description": "Restrict results to given user reference id",
                    "type": "integer",
                    "format": "int32"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Open orders info retrieved.",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "error": [],
                    "result": {
                      "open": {
                        "OQCLML-BW3P3-BUCMWZ": {
                          "refid": null,
                          "userref": 0,
                          "status": "open",
                          "opentm": 1616666559.8974,
                          "starttm": 0,
                          "expiretm": 0,
                          "descr": {
                            "pair": "XBTUSD",
                            "type": "buy",
                            "ordertype": "limit",
                            "price": "30010.0",
                            "price2": "0",
                            "leverage": "none",
                            "order": "buy 1.25000000 XBTUSD @ limit 30010.0",
                            "close": ""
                          },
                          "vol": "1.25000000",
                          "vol_exec": "0.37500000",
                          "cost": "11253.7",
                          "fee": "0.00000",
                          "price": "30010.0",
                          "stopprice": "0.00000",
                          "limitprice": "0.00000",
                          "misc": "",
                          "oflags": "fciq",
                          "trades": [
                            "TCCCTY-WE2O6-P3NB37"
                          ]
                        },
                        "OB5VMB-B4U2U-DK2WRW": {
                          "refid": null,
                          "userref": 120,
                          "status": "open",
                          "opentm": 1616665899.5699,
                          "starttm": 0,
                          "expiretm": 0,
                          "descr": {
                            "pair": "XBTUSD",
                            "type": "buy",
                            "ordertype": "limit",
                            "price": "14500.0",
                            "price2": "0",
                            "leverage": "5:1",
                            "order": "buy 0.27500000 XBTUSD @ limit 14500.0 with 5:1 leverage",
                            "close": ""
                          },
                          "vol": "0.27500000",
                          "vol_exec": "0.00000000",
                          "cost": "0.00000",
                          "fee": "0.00000",
                          "price": "0.00000",
                          "stopprice": "0.00000",
                          "limitprice": "0.00000",
                          "misc": "",
                          "oflags": "fciq"
                        },
                        "OXHXGL-F5ICS-6DIC67": {
                          "refid": null,
                          "userref": 120,
                          "status": "open",
                          "opentm": 1616665894.0036,
                          "starttm": 0,
                          "expiretm": 0,
                          "descr": {
                            "pair": "XBTUSD",
                            "type": "buy",
                            "ordertype": "limit",
                            "price": "17500.0",
                            "price2": "0",
                            "leverage": "5:1",
                            "order": "buy 0.27500000 XBTUSD @ limit 17500.0 with 5:1 leverage",
                            "close": ""
                          },
                          "vol": "0.27500000",
                          "vol_exec": "0.00000000",
                          "cost": "0.00000",
                          "fee": "0.00000",
                          "price": "0.00000",
                          "stopprice": "0.00000",
                          "limitprice": "0.00000",
                          "misc": "",
                          "oflags": "fciq"
                        },
                        "OLQCVY-B27XU-MBPCL5": {
                          "refid": null,
                          "userref": 251,
                          "status": "open",
                          "opentm": 1616665556.7646,
                          "starttm": 0,
                          "expiretm": 0,
                          "descr": {
                            "pair": "XBTUSD",
                            "type": "buy",
                            "ordertype": "limit",
                            "price": "23500.0",
                            "price2": "0",
                            "leverage": "none",
                            "order": "buy 0.27500000 XBTUSD @ limit 23500.0",
                            "close": ""
                          },
                          "vol": "0.27500000",
                          "vol_exec": "0.00000000",
                          "cost": "0.00000",
                          "fee": "0.00000",
                          "price": "0.00000",
                          "stopprice": "0.00000",
                          "limitprice": "0.00000",
                          "misc": "",
                          "oflags": "fciq"
                        },
                        "OQCGAF-YRMIQ-AMJTNJ": {
                          "refid": null,
                          "userref": 0,
                          "status": "open",
                          "opentm": 1616665511.0373,
                          "starttm": 0,
                          "expiretm": 0,
                          "descr": {
                            "pair": "XBTUSD",
                            "type": "buy",
                            "ordertype": "limit",
                            "price": "24500.0",
                            "price2": "0",
                            "leverage": "none",
                            "order": "buy 1.25000000 XBTUSD @ limit 24500.0",
                            "close": ""
                          },
                          "vol": "1.25000000",
                          "vol_exec": "0.00000000",
                          "cost": "0.00000",
                          "fee": "0.00000",
                          "price": "0.00000",
                          "stopprice": "0.00000",
                          "limitprice": "0.00000",
                          "misc": "",
                          "oflags": "fciq"
                        }
                      }
                    }
                  },
                  "type": "object",
                  "properties": {
                    "result": {
                      "title": "OpenOrders",
                      "description": "Open Orders",
                      "type": "object",
                      "properties": {
                        "open": {
                          "type": "object",
                          "additionalProperties": {
                            "x-additionalPropertiesName": "txid",
                            "$ref": "#/paths/~1private~1QueryOrders/post/responses/200/content/application~1json/schema/properties/result/additionalProperties/oneOf/0"
                          }
                        }
                      }
                    },
                    "error": {
                      "$ref": "#/paths/~1private~1Stake/post/responses/200/content/application~1json/schema/properties/error"
                    }
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "cURL",
            "source": "curl -X \"POST\" \"https://api.kraken.com/0/private/OpenOrders\" \\\n     -H 'API-Key: <YOUR-API-KEY>' \\\n     -H 'API-Sign: <YOUR-MSG-SIGNATURE>' \\\n     -H 'Content-Type: application/x-www-form-urlencoded; charset=utf-8' \\\n     --data-urlencode \"nonce=<YOUR-NONCE>&trades=true\"\n"
          },
          {
            "lang": "Python",
            "source": "import time\nimport os\nimport requests\n\n# Read Kraken API key and secret stored in environment variables\napi_url = \"https://api.kraken.com\"\napi_key = os.environ['API_KEY_KRAKEN']\napi_sec = os.environ['API_SEC_KRAKEN']\n\n# Attaches auth headers and returns results of a POST request\ndef kraken_request(uri_path, data, api_key, api_sec):\n    headers = {}\n    headers['API-Key'] = api_key\n    # get_kraken_signature() as defined in the 'Authentication' section\n    headers['API-Sign'] = get_kraken_signature(uri_path, data, api_sec)             \n    req = requests.post((api_url + uri_path), headers=headers, data=data)\n    return req\n\n# Construct the request and print the result\nresp = kraken_request('/0/private/OpenOrders', {\n    \"nonce\": str(int(1000*time.time())),\n    \"trades\": True\n}, api_key, api_sec)\n\nprint(resp.json())\n"
          }
        ]
      }
    },
    "/private/ClosedOrders": {
      "post": {
        "summary": "Get Closed Orders",
        "description": "Retrieve information about orders that have been closed (filled or cancelled). 50 results are returned at a time, the most recent by default.\n\n**Note:** If an order's tx ID is given for `start` or `end` time, the order's opening time (`opentm`) is used\n",
        "tags": [
          "User Data"
        ],
        "operationId": "getClosedOrders",
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "title": "Get Closed Orders Request Body",
                "required": [
                  "nonce"
                ],
                "type": "object",
                "properties": {
                  "nonce": {
                    "$ref": "#/paths/~1private~1Stake/post/requestBody/content/application~1x-www-form-urlencoded/schema/properties/nonce"
                  },
                  "trades": {
                    "description": "Whether or not to include trades related to position in output",
                    "type": "boolean",
                    "default": false
                  },
                  "userref": {
                    "description": "Restrict results to given user reference id",
                    "type": "integer",
                    "format": "int32"
                  },
                  "start": {
                    "description": "Starting unix timestamp or order tx ID of results (exclusive)",
                    "type": "integer"
                  },
                  "end": {
                    "description": "Ending unix timestamp or order tx ID of results (inclusive)",
                    "type": "integer"
                  },
                  "ofs": {
                    "description": "Result offset for pagination",
                    "type": "integer"
                  },
                  "closetime": {
                    "description": "Which time to use to search",
                    "type": "string",
                    "enum": [
                      "open",
                      "close",
                      "both"
                    ],
                    "default": "both"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Closed orders info retrieved.",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "error": [],
                    "result": {
                      "closed": {
                        "O37652-RJWRT-IMO74O": {
                          "refid": null,
                          "userref": 36493663,
                          "status": "canceled",
                          "reason": "User requested",
                          "opentm": 1616148493.7708,
                          "closetm": 1616148610.0482,
                          "starttm": 0,
                          "expiretm": 0,
                          "descr": {
                            "pair": "XBTGBP",
                            "type": "buy",
                            "ordertype": "limit",
                            "price": "2506.0",
                            "price2": "0",
                            "leverage": "none",
                            "order": "buy 0.00100000 XBTGBP @ limit 2506.0",
                            "close": ""
                          },
                          "vol": "0.00100000",
                          "vol_exec": "0.00000000",
                          "cost": "0.00000",
                          "fee": "0.00000",
                          "price": "0.00000",
                          "stopprice": "0.00000",
                          "limitprice": "0.00000",
                          "misc": "",
                          "oflags": "fciq"
                        },
                        "O6YDQ5-LOMWU-37YKEE": {
                          "refid": null,
                          "userref": 36493663,
                          "status": "canceled",
                          "reason": "User requested",
                          "opentm": 1616148493.7708,
                          "closetm": 1616148610.0477,
                          "starttm": 0,
                          "expiretm": 0,
                          "descr": {
                            "pair": "XBTGBP",
                            "type": "buy",
                            "ordertype": "limit",
                            "price": "2518.0",
                            "price2": "0",
                            "leverage": "none",
                            "order": "buy 0.00100000 XBTGBP @ limit 2518.0",
                            "close": ""
                          },
                          "vol": "0.00100000",
                          "vol_exec": "0.00000000",
                          "cost": "0.00000",
                          "fee": "0.00000",
                          "price": "0.00000",
                          "stopprice": "0.00000",
                          "limitprice": "0.00000",
                          "misc": "",
                          "oflags": "fciq"
                        }
                      },
                      "count": 2
                    }
                  },
                  "type": "object",
                  "properties": {
                    "result": {
                      "title": "ClosedOrders",
                      "description": "Closed Orders",
                      "type": "object",
                      "properties": {
                        "closed": {
                          "type": "object",
                          "additionalProperties": {
                            "x-additionalPropertiesName": "txid",
                            "$ref": "#/paths/~1private~1QueryOrders/post/responses/200/content/application~1json/schema/properties/result/additionalProperties/oneOf/1"
                          }
                        },
                        "count": {
                          "description": "Amount of available order info matching criteria",
                          "type": "integer"
                        }
                      }
                    },
                    "error": {
                      "$ref": "#/paths/~1private~1Stake/post/responses/200/content/application~1json/schema/properties/error"
                    }
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "cURL",
            "source": "curl -X \"POST\" \"https://api.kraken.com/0/private/ClosedOrders\" \\\n     -H 'API-Key: <YOUR-API-KEY>' \\\n     -H 'API-Sign: <YOUR-MSG-SIGNATURE>' \\\n     -H 'Content-Type: application/x-www-form-urlencoded; charset=utf-8' \\\n     --data-urlencode \"nonce=<YOUR-NONCE>&trades=true\"\n"
          },
          {
            "lang": "Python",
            "source": "import time\nimport os\nimport requests\n\n# Read Kraken API key and secret stored in environment variables\napi_url = \"https://api.kraken.com\"\napi_key = os.environ['API_KEY_KRAKEN']\napi_sec = os.environ['API_SEC_KRAKEN']\n\n# Attaches auth headers and returns results of a POST request\ndef kraken_request(uri_path, data, api_key, api_sec):\n    headers = {}\n    headers['API-Key'] = api_key\n    # get_kraken_signature() as defined in the 'Authentication' section\n    headers['API-Sign'] = get_kraken_signature(uri_path, data, api_sec)             \n    req = requests.post((api_url + uri_path), headers=headers, data=data)\n    return req\n\n# Construct the request and print the result\nresp = kraken_request('/0/private/ClosedOrders', {\n    \"nonce\": str(int(1000*time.time())),\n    \"userref\": 36493663\n}, api_key, api_sec)\n\nprint(resp.json())\n"
          }
        ]
      }
    },
    "/private/QueryOrders": {
      "post": {
        "summary": "Query Orders Info",
        "description": "Retrieve information about specific orders.\n",
        "tags": [
          "User Data"
        ],
        "operationId": "getOrdersInfo",
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "title": "Query Orders Info Request Body",
                "required": [
                  "nonce",
                  "txid"
                ],
                "type": "object",
                "properties": {
                  "nonce": {
                    "$ref": "#/paths/~1private~1Stake/post/requestBody/content/application~1x-www-form-urlencoded/schema/properties/nonce"
                  },
                  "trades": {
                    "description": "Whether or not to include trades related to position in output",
                    "type": "boolean",
                    "default": false
                  },
                  "userref": {
                    "description": "Restrict results to given user reference id",
                    "type": "integer",
                    "format": "int32"
                  },
                  "txid": {
                    "description": "Comma delimited list of transaction IDs to query info about (20 maximum)",
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Orders info retrieved.",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "error": [],
                    "result": {
                      "OBCMZD-JIEE7-77TH3F": {
                        "refid": null,
                        "userref": 0,
                        "status": "closed",
                        "reason": null,
                        "opentm": 1616665496.7808,
                        "closetm": 1616665499.1922,
                        "starttm": 0,
                        "expiretm": 0,
                        "descr": {
                          "pair": "XBTUSD",
                          "type": "buy",
                          "ordertype": "limit",
                          "price": "37500.0",
                          "price2": "0",
                          "leverage": "none",
                          "order": "buy 1.25000000 XBTUSD @ limit 37500.0",
                          "close": ""
                        },
                        "vol": "1.25000000",
                        "vol_exec": "1.25000000",
                        "cost": "37526.2",
                        "fee": "37.5",
                        "price": "30021.0",
                        "stopprice": "0.00000",
                        "limitprice": "0.00000",
                        "misc": "",
                        "oflags": "fciq",
                        "trades": [
                          "TZX2WP-XSEOP-FP7WYR"
                        ]
                      },
                      "OMMDB2-FSB6Z-7W3HPO": {
                        "refid": null,
                        "userref": 0,
                        "status": "closed",
                        "reason": null,
                        "opentm": 1616592012.2317,
                        "closetm": 1616592012.2335,
                        "starttm": 0,
                        "expiretm": 0,
                        "descr": {
                          "pair": "XBTUSD",
                          "type": "sell",
                          "ordertype": "market",
                          "price": "0",
                          "price2": "0",
                          "leverage": "none",
                          "order": "sell 0.25000000 XBTUSD @ market",
                          "close": ""
                        },
                        "vol": "0.25000000",
                        "vol_exec": "0.25000000",
                        "cost": "7500.0",
                        "fee": "7.5",
                        "price": "30000.0",
                        "stopprice": "0.00000",
                        "limitprice": "0.00000",
                        "misc": "",
                        "oflags": "fcib",
                        "trades": [
                          "TJUW2K-FLX2N-AR2FLU"
                        ]
                      }
                    }
                  },
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "additionalProperties": {
                        "x-additionalPropertiesName": "txid",
                        "oneOf": [
                          {
                            "title": "OpenOrder",
                            "description": "Open Order",
                            "allOf": [
                              {
                                "$ref": "#/paths/~1private~1QueryOrders/post/responses/200/content/application~1json/schema/properties/result/additionalProperties/oneOf/1/allOf/0"
                              }
                            ]
                          },
                          {
                            "title": "ClosedOrder",
                            "description": "Closed Order",
                            "allOf": [
                              {
                                "title": "OpenOrder",
                                "description": "Open Order",
                                "type": "object",
                                "properties": {
                                  "refid": {
                                    "description": "Referral order transaction ID that created this order",
                                    "type": "string"
                                  },
                                  "userref": {
                                    "description": "User reference id",
                                    "type": "string"
                                  },
                                  "status": {
                                    "description": "Status of order\n  * pending = order pending book entry\n  * open = open order\n  * closed = closed order\n  * canceled = order canceled\n  * expired = order expired\n",
                                    "type": "string",
                                    "enum": [
                                      "pending",
                                      "open",
                                      "closed",
                                      "canceled",
                                      "expired"
                                    ]
                                  },
                                  "opentm": {
                                    "description": "Unix timestamp of when order was placed",
                                    "type": "number"
                                  },
                                  "starttm": {
                                    "description": "Unix timestamp of order start time (or 0 if not set)",
                                    "type": "number"
                                  },
                                  "expiretm": {
                                    "description": "Unix timestamp of order end time (or 0 if not set)",
                                    "type": "number"
                                  },
                                  "descr": {
                                    "title": "OrderDescription",
                                    "description": "Order description info",
                                    "type": "object",
                                    "properties": {
                                      "pair": {
                                        "description": "Asset pair",
                                        "type": "string"
                                      },
                                      "type": {
                                        "description": "Type of order (buy/sell)",
                                        "type": "string",
[...]
